.notification{
    margin-left: 100px;
    margin-top: 10px;
    font-size: 40px;
}

/* img{
    margin-top: 10px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    vertical-align: center;
    text-align: center;
} */
button{
    border-radius: 2opx;
}
ion-row, ion-col{
    padding: 10px;
}

ion-row{
    border: 1px solid #fbfcfd;
}

ion-col{
    text-align: center;
}

ion-img{
    border-radius: 100px;
    margin-right: 10px;
}

ion-button{
    margin-top: 10px;
}
ion-avatar{
    /* --border-radius:var(--border-radius); */
    /* margin-right: 10px; */
}