.notification {
    margin-left: 100px;
    margin-top: 15px;
    font-size: 30px;
}

/* img{
    margin-top: 10px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    vertical-align: center;
    text-align: center;
} */
button {
    border-radius: 2opx;
}

ion-row,
ion-col {
    padding: 10px;
}

ion-row {
    border: 1px solid #fbfcfd;
}

ion-col {
    text-align: center;
}

ion-img {
    /* border-radius: 100px; */
    margin-left: 20px;
}
#size{
    margin-left: 30px;
}

ion-button {
    font-size: 8px;
    height: 25px;
    margin-top: 16px;
    margin-left: 30px;
}

ion-avatar {
    /* --border-radius:var(--border-radius); */
    /* margin-right: 10px; */
    width: 30px;
    height: 30px;
}

img {
    margin-top: 15px;
    margin-left: 10px;
}

ion-text {
    text-align: center;
}

#select {
    background-color: #6160dc;
    color: white;
}

ion-select {
    /* float: right; */
    height: 30px;
    margin-right: 50px;
    border: 1px solid #17497c;
    border-radius: 20px;
    margin-bottom: 30px;
}

#item {
    float: right;
}

#title{
    color: black;
    font-weight: bold;
}
#active{
    margin: auto;
    /* width: 100px; */
    border-radius: 20px;
}
#inactive{
    margin: auto;
    /* width: 100px; */
    border-radius: 20px;
}